@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --verdino: #a6c9b5;
    --giallino: #e5e1ad;
    --violetto: #943689;
    --viola: #2a0636;
    --off-black: #060b0f;
    --violino: #aea7d0;
}

main {
    display: flex !important;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* navbar */

nav>a>h2 {
    font-size: 2rem !important;
}

.nav-link {
    font-family: 'Futura Extra Bold', sans-serif;
    color: white;
    letter-spacing: 2px;
}


/* cover section */

h1,
h2,
h3,
h4,
h5,
.title,
.subtitle {
    font-family: 'Futura Extra Bold', sans-serif !important;
    margin: 0 !important;
}

.title-container {
    position: absolute;
    top: 50vh;
    left: 35vw;
    text-align: right;
}

.title {
    color: var(--verdino);
    font-size: 6vw;
}

.subtitle {
    color: white;
    font-size: 3vw;
    text-decoration: underline var(--violetto);
}

section:not(.comparison-section, .texts-introduction-section, .spatial, .network, .time) {
    padding: 3rem 4rem;
}

.comparison-section {
    padding: 3rem 4rem;
}

.sectitle>h3 {
    text-decoration: underline var(--violetto);
    font-size: 2rem;
    color: #060b0f;
    margin-bottom: 20px !important;
}


/* content section */

p {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 0.1em;
    text-align: justify;
}

.project-introduction-section {
    background-color: var(--verdino);
    color: black;
}

.project-introduction {
    padding: 0 5rem;
}

.mySlides {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease;
}

.w3-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: none !important;
    overflow: hidden;
    position: relative;
}

.w3-button.w3-black {
    cursor: pointer;
    color: #fff !important;
    background-color: #000 !important;
    user-select: none;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: button;
    text-transform: none;
    font: inherit;
    margin: 0;
    border-radius: 0;
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.film-introduction-section {
    background-color: var(--giallino);
}

.film-introduction {
    padding: 0 3rem;
}

.film-introduction>img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 25rem;
    float: left;
    margin: 2rem;
}

.film-introduction>p {
    margin: 2rem;
    color: #060b0f;
}

.film-introduction>p:not(first-child) {
    margin-top: 0rem;
    color: #060b0f;
}

.subsectitle {
    color: black;
    text-decoration: underline var(--violetto);
    margin-bottom: 10px;
}


/* cards section */

.texts-introduction-section {
    min-height: 80vh;
}


.texts-introduction-section>.sectitle>h3 {
    color: white;
    text-shadow: 2px 2px 20px black;
    font-size: 2.3rem;
    transition: color 0.3s ease;
}

.cards-container {
    margin: 3vh 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    padding-bottom: 7vh;
}

.texts-introduction-section>.sectitle {
    position: relative;
    margin-top: 3rem;
    margin-left: 5rem;
}

.bg-image {
    width: 100%;
    height: 100%;
}

.bg-image>img {
    position: absolute;
    width: 100%;
    height: 110%;
    /* transitions */
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;

}

.card {
    width: 30vw;
    height: 65vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ede0c7;
    color: black;
    text-align: center;
    border-radius: 3px !important;
    padding: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card>img {
    width: 8vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.download-xml-button {
    background-color: var(--viola);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: none;
    color: white;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 3px !important;
}

.download-xml-button>a {
    text-decoration: none;
    color: white;

}

/* comparison section */

.comparison-section {
    background-color: var(--viola);
    z-index: 2;
}

.comparison-section>.sectitle>h3 {
    color: white;
}



.comparison-container {
    margin: 4rem 3rem;
    gap: 9vw;
}

.comparison-item-title {
    font-family: 'Playfair Display', serif !important;
    text-align: center;
    color: white;
}

.comparison-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9rem;
}

.comparison-item {
    border-top: 1.2rem solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-image-source: url('../img/ews-border2.png');
    border-image-slice: 230 115 225 120 fill;
    border-image-width: 12vh 3vw;
    border-image-outset: 12vh 3vw;
    border-image-repeat: stretch stretch;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    width: 23vw;
    height: 80vh;
    overflow: auto;
    background-color: white;
    color: black;
    z-index: 1;
}

.comparison-item::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.comparison-item-central {
    border-bottom: 6px solid transparent;
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-image-source: url('../img/ews-border.png');
    border-image-slice: 450 200 250 215 fill;
    border-image-width: 20vh 6vw 13vh 6vw;
    border-image-outset: 20vh 6vw 13vh 6vw;
    border-image-repeat: stretch stretch;
}

div pre {
    font-family: Courier, 'Courier New', monospace;
    font-size: 0.8rem;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 10rem 2rem 2rem 2rem;
}

.image-container>img {
    width: 20vw;
    transition: transform 0.3s ease;
}

.image-container>img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

footer {
    height: 30vh;
    background-color: var(--off-black);
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* analysis page */

.spatial {
    background-color: var(--verdino);
    padding: 4%;
    color: black;
}


.tables-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 45vw;
}

.table-container>iframe {
    width: 35vw;
    min-height: 60vh;
    border: none;

}

.text {
    max-width: 60vw;
}

.network {
    background-color: var(--giallino);
    padding: 4%;
    color: black;
    height: 170vh;

}

.t {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}  

.containe {
    display: flex;
    flex-direction: column;
    max-width: 35vw !important;
    min-height: 50vh;
    
}

.containe>iframe {
    min-height: 100%;
    max-width: inherit;
    margin-bottom: 10%;
}

.time {
    background-color: var(--viola);
    padding: 4%;
    color: white;
}

.time>h3 {
    text-decoration: underline var(--violetto);
    font-size: 2rem;
    margin-bottom: 1rem !important;
}

.pie-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slice {
    cursor: pointer;
}

.analysis_title {
    margin-bottom: 2%;
}

.pie-chart-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 2rem 2rem 2rem 2rem;
}

.pie-chart-image-container>img {
    width: 10vw;
    transition: transform 0.3s ease;
}

.pie-chart-image-container>img:hover {
    transform: scale(1.02);
    cursor: pointer;
}


.spatial>h3,
.network>h3 {
    text-decoration: underline var(--violetto);
    font-size: 2rem;
    color: #060b0f;
    margin-bottom: 1rem !important;
}


@media screen and (max-width: 768px) {
    .parallax {
        display: none;
    }

    section:not(.texts-introduction-section) {
        padding: 40px !important;
    }

    .project-introduction-section {
        padding: 0 !important;
    }

    .texts-introduction-section>.sectitle {
        padding: 40px !important;
        padding-bottom: 0 !important;
        margin: 0 !important;
    }

    .mySlides:nth-child(1),
    .w3-button {
        display: none !important;
    }

    .film-introduction,
    .project-introduction {
        padding: 0 !important;
    }

    .film-introduction>img {
        width: 35vw !important;
    }

    .carousel-track {
        flex-direction: column;
        transform: none !important;
    }

    .texts-introduction-section>.cards-container {
        flex-direction: column;
    }

    .cards-container {
        margin: 0 !important;
    }

    .card {
        width: 80vw;
        height: 40vh;
    }

    .bg-image {
        overflow: hidden;
    }

    .bg-image>img {
        object-fit: cover;
        height: 160%;
    }

    .card>img {
        width: 20vw;
        margin-top: 1rem;
    }

    .comparison-container {
        flex-direction: column;
        gap: 30vh;
    }
}